<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        {% include 'includes/header.html' %}
        <br/><br/>
       
        <div class = "row">
            
                {%csrf_token %}                
               {{data.l}}
                <table border="1">
                    <tr><th>N</th></tr>
                    
            {% for item in data.l %}
            <tr>
            <td>
{{  item }}
</td>
</tr>
            {%  endfor  %}
            
            </table>
        </div>
        <br/><br/>
        <div class = "container-fluid h-100 p-5">
            
        </div>
        <div class = "container-fluid h-100 p-5">
            
        </div>
        <div class = "container-fluid h-100 p-5">
            <a href="F:///ProjectDjango//websiteanalyzer//templates//Excel//varanasikshetra$com##myCarousel.xlsx">click me</a>
        </div>
        <div class = "container-fluid h-100 p-4">
            
        </div>
        {% include 'includes/footer.html' %}
    </div>
</body>
</html>