<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script text="text/javascript">
        function dispTblContents() {
         var pName = document.getElementById("pName").innerHTML;
         var pAddress = document.getElementById("pAddress").innerHTML;
         var pEmail = document.getElementById("pEmail").innerHTML;
        
         alert(pName + " " + pAddress + " " + pEmail);
        }
        </script>



</head>
<body>
    <div class="container-fluid">
        {% include 'includes/header.html' %}
        <br/><br/>
       
        <div class = "row">
            
                {%csrf_token %}                
               {{data.l}}
                <table border="1">
                    <tr><th>N</th></tr>
                    
            {% for item in data.l %}
            <tr>
            <td>
{{  item }}
</td>
</tr>
            {%  endfor  %}
            
            </table>
        </div>
        <br/><br/>
        <div class = "container-fluid h-100 p-5">
            
        </div>
        <div class = "container-fluid h-100 p-5">
            
        </div>
      
        <div class = "container-fluid h-100 p-4">
            
        </div>

        <div>
            <table>
                <thead>
                      <tr>
                          <th>Name</th>
                          <th>Address </th>
                          <th>Email</th>
                      </tr>
                  </thead>
              
                  <tbody>
                      <tr onclick="dispTblContents();" >
                          <td id="pName">Ricardo Lucero</td>
                          <td id="pAddress">Mexico City, Mexico</td>
                          <td id="pEmail">rlucero@test.com</td>
                      </tr>
                  </tbody>
              
               </table>
        </div>
        {% include 'includes/footer.html' %}
    </div>
</body>
</html>